---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import ContactForm from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import HeroSection from '../components/HeroSection.astro';
---

<Layout title="Contact - STIFIn Muslimah">
  <Header />
  <main>
    <HeroSection 
      title="Kontak STIFIn Muslimah" 
      description="Kami siap membantu menjawab pertanyaan apa pun yang Kamu miliki tentang layanan kami."
    />
    <ContactForm />
  </main>
  <Footer />
</Layout> 
